.box{
    margin : 5px 5px 5px 5px;
    border : 1px solid black;
    max-width: 70px;
}

.app{
    margin-top: 20px;
    text-align: center;
}

table, tr, td {
    border : 1px solid white;
    
    color : black;
    font-size: 30px;
    max-width: max-content;
    text-align : center;
}

#input_name {
    max-width: 180px;
}

.input{
    margin-left : 90px;
}

#input_span{
    margin-left : 20px;
}

#score_span{
    margin-left : 23px;
}

span{
    padding : 10px;
}